<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
  <h1>Whats good!</h1>
<%= link_to 'Home' , root_path%>
  
<h1 align="center">Welcome to my webpage!</h1>
<center><img src="http://cdn1.sciencefiction.com/wp-content/uploads/2012/08/Metal-Gear-Solid-Banner.jpeg" alt="" align="center"></center>
<hr>
<center><img src="http://vignette4.wikia.nocookie.net/danforhire/images/7/71/Kermit.png/revision/latest?cb=20130701024332" alt=""></center>
<div style="border-right:1px solid #000;height:500px" align="center"><p>Through my years of coaching I have found that a large number of people go through life doing what they think they should be doing. Often they are unaware that their life purpose is deeply embedded within them.</p>

<p>As your coach, I will encourage you to look within yourself in order to discover what you really want. Your values, needs and desires will be revealed and your perspective will shift, enabling you to take BOLD action.</p>

<p>I am a forward thinker who pushes the boundaries and sees the world as limitless. I believe that life is about taking risks; not wondering what's going to happen next but getting excited about what could happen next.
</p>
</div>
</div>
</body>
</html>