<div class ="container">
  <footer class='footer'>
    <small>
      Copyright &copy; <a href="http://www.fanboys.com">Alpha Blog</a>
      by<a href="https://thefanboys.bandcamp.com/"> Felipe Machado</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
      </nav>
  </footer>
</div>